<div class="dashboard-numbers">
  <div class="dashboard-number">
    1 234 <span class="dashboard-number__unit">signalements</span>
  </div>

  <div class="dashboard-number">
    400 <span class="dashboard-number__unit">approuvés</span>
  </div>

  <div class="dashboard-number">
    30 <span class="dashboard-number__unit">rejetés</span>
  </div>
</div>
