= card_component do
  .prose
    h1 Protection des données personnelles

    p
      ' Lorem ipsum odor amet, consectetuer adipiscing elit. Vulputate cras aptent amet; porttitor penatibus luctus.
      ' Tincidunt primis volutpat urna dignissim dictum metus, dis sociosqu. Accumsan curae hac velit; congue aliquam
      ' aenean nisl sagittis. Ullamcorper placerat sit semper ultrices ultrices arcu tellus dolor? Cras primis dis
      ' consequat pulvinar tellus diam elementum luctus ornare? Ad eros purus volutpat pellentesque massa tincidunt
      ' phasellus lobortis. Vitae nostra non urna adipiscing ridiculus. Potenti convallis nascetur nam et; potenti quis.
      ' Parturient nullam morbi pulvinar nibh ad phasellus.
    p
      ' Tellus sit montes lorem id phasellus maecenas egestas vitae. Maecenas maximus placerat ultrices maecenas maecenas
      ' scelerisque commodo vehicula. Placerat est viverra pulvinar; pharetra neque a ac. Euismod ultricies auctor massa
      ' ridiculus curae magna magna euismod. Suspendisse odio purus ornare posuere; odio nostra tempus. Primis eros mi
      ' senectus sagittis semper nunc molestie. Tincidunt accumsan tristique lobortis urna lectus fames nec condimentum.
      ' Dolor urna volutpat leo sapien nullam natoque aptent.
    p
      ' Rhoncus rhoncus dui pharetra ultrices erat lorem nunc aliquam. Purus natoque convallis fringilla malesuada tortor
      ' ligula lacinia habitasse. Elementum velit montes condimentum pretium habitasse lacus ante. Tempor imperdiet magna
      ' mollis aptent urna turpis. Ultricies facilisis sociosqu leo ridiculus suscipit. Dui risus montes ultricies elementum
      ' sociosqu libero ligula. Sagittis finibus sociosqu maximus duis penatibus eu; taciti habitasse. Accumsan semper
      ' dictumst sed sapien class mattis eu parturient volutpat.
    p
      ' Sagittis phasellus morbi; ante et vehicula senectus. Dis vulputate laoreet, hac sit odio sagittis. At elit
      ' aliquet in amet nisl. Primis nullam feugiat odio vivamus, turpis arcu ipsum vivamus. Pretium pharetra malesuada
      ' quisque fringilla vivamus. Venenatis rutrum suspendisse aptent pulvinar maximus massa ligula. Nam ut feugiat
      ' maximus vitae et cras per ullamcorper blandit. Amet inceptos nisi convallis fringilla bibendum lectus fringilla.
    p
      ' Velit orci dignissim nascetur convallis, habitant quam duis ultricies. Id platea imperdiet pellentesque diam
      ' faucibus suscipit consectetur potenti volutpat. Pellentesque metus erat posuere pulvinar felis sociosqu nisl
      ' aliquam. Litora congue bibendum taciti montes ornare vivamus non. Suspendisse enim efficitur class amet cras;
      ' taciti porttitor quam. Convallis aptent nisi lectus tortor felis facilisis praesent fames.

p
  = link_to new_user_session_path do
    = icon_component "chevron-left-small", "Retour", class: "inline"
    | Retour au formulaire de connexion
  | .
