<div class="flex flex-col space-y-4">
  <%=
    record= Collectivity.new(
      contact_first_name: "",
      contact_last_name: nil
    )
    description_list_component(record) do |list|
      list.with_attribute(:contact_first_name)
      list.with_attribute(:contact_last_name)
    end
  %>
</div>
