@layer base {
  .alert {
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    @apply py-2 px-4;
    @apply mb-8;
    text-shadow: rgba(255, 255, 255, 0.5) 0 1px;
    background-color: rgba(158, 158, 158, 0.2);
  }

  .alert:last-child {
    @apply mb-0;
  }

  h1 .alert,
  h2 .alert,
  p .alert {
    @apply inline;
    @apply py-0.5 px-1;
  }

  td .alert {
    @apply inline;
    @apply py-1 px-2;
  }

  .alert.primary {
    color: #247fbe;
    background-color: rgba(36, 127, 190, 0.14);
  }

  .alert.accent {
    color: #005a98;
    background-color: rgba(142, 173, 1, 0.26);
  }

  .alert.warn {
    color: #fd4032;
    background-color: rgba(253, 64, 50, 0.26);
  }

  .alert.soft-warn {
    color: #ff8208;
    background-color: rgba(255, 130, 8, 0.2);
  }
}