@layer base {
  html {
    font-size: 12px;
  }

  body {
    display: flex;
    height: 100vh;
    overflow: hidden;

    @apply bg-gray-100 text-black;
    @apply dark:bg-gray-900 dark:text-white;
  }

  body, table, button, input, optgroup, select, textarea {
    @apply text-base;
  }
}
