<table>
  <thead>
    <tr>
      <th>Column A<th>
      <th>Column B<th>
      <th>Column C<th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Row 1<th>
      <td>Cell 1.B<td>
      <td>Cell 1.C<td>
    </tr>
    <tr>
      <th>Row 2<th>
      <td>Cell 2.B<td>
      <td>Cell 2.C<td>
    </tr>
    <tr>
      <th>Row 3<th>
      <td>Cell 3.B<td>
      <td>Cell 3.C<td>
    </tr>
  </tbody>
</table>
