ruby:
  example = UI::CodeRequestExampleComponent.new(
    "POST", "https://storage.passerelle-fiscale.fr/path",
    request: {
      file: "relative/path/to/file.pdf"
    },
    response: {
      code: 204
    }
  )

= render example
