ruby:
  example = UI::CodeRequestExampleComponent.new(
    "GET", "https://static.fiscahub.fr/path",
    response: {
      file: "relative/path/to/file.pdf"
    }
  )

= card_component do
  = render example
