@layer components {
  .choices-collection {
    overflow: auto;
    max-height: 400px;

    @apply py-0 px-3 border-l-2;
    margin-left: 5px;

    @apply bg-white border-gray-200;
    @apply dark:bg-black dark:border-gray-700;

    &__input {
      display: block;

      & [type="checkbox"],
      & [type="radio"] {
        display: inline-block;
        @apply mr-2;
      }

      & [type="checkbox"] + label,
      & [type="radio"] + label {
        display: inline-block;
      }
    }

    &__checkall {
      @apply text-gray-600 mb-2;
    }

    &__reset {
      @apply text-gray-600 mt-2;
    }
  }
}
