button.copy-button.icon-button(
  type="button"
  data-controller="copy-text toggle-class"
  data-action="click->toggle-class#toggle click->copy-text#copy"
  data-copy-text-source-value=@value
  data-toggle-class-revert-after-delay-param=4000
  data-toggle-class-toggle-class="hidden"
)
  span.hidden( data-toggle-class-target="item")
    = icon_component("clipboard-document-check")
  span( data-toggle-class-target="item")
    = icon_component("clipboard-document-list")
  span.tooltip Copier le texte
