.dialog(
  role="dialog"
  aria-modal="true"
  aria-labelledby="dialog-title"
  data-controller="dialog"
  data-dialog-back-url-value=back_url
  data-transition-enter-from="dialog--enter-from"
  data-transition-enter-to="dialog--enter-to"
  data-transition-leave-from="dialog--leave-from"
  data-transition-leave-to="dialog--leave-to"
  data-action="keydown@document->dialog#keydown"
)
  .dialog__overlay( data-action="click->dialog#close" )
  .dialog__container( data-dialog-target="container" )
    = content
