.dropdown(
  data-controller="dropdown"
  data-transition-enter-from="dropdown--enter-from"
  data-transition-enter-to="dropdown--enter-to"
  data-transition-leave-from="dropdown--leave-from"
  data-transition-leave-to="dropdown--leave-to"
)
  = button

  .dropdown__menu.hidden(
    class=position_css_class
    aria-labelledby=button_id
    data-dropdown-target="menu"
    role="menu"
  )
    - items.each do |item|
      = item
