@layer components {
  .dropdown {
    position: relative;
    z-index: 10;

    &__menu {
      position: absolute;
      z-index: 11;

      @apply shadow-lg rounded-xs border;
      @apply bg-white border-gray-200;
      @apply dark:bg-black dark:border-gray-700;

      &--below-left {
        right: 0;
      }

      &--below-right {
        top: 100%;
        left: 0;
      }

      &--aside-left {
        top: 0;
        right: 100%;
      }

      &--aside-right {
        top: 0;
        left: 100%;
      }

      .icon-button + &--below-left,
      .icon-button + &--below-right {
        top: calc(100% + 3px);
      }

      .icon-button + &--aside-left {
        right: calc(100% + 3px);
      }

      .icon-button + &--aside-right {
        left: calc(100% + 3px);
      }
    }

    &__divider {
      display: block;
      height: 1px;
      width: 100%;

      @apply bg-gray-300;
      @apply dark:bg-gray-700;
    }

    &__menu-item {
      display: flex;
      width: 100%;
      box-sizing: border-box;
      text-align: left;
      text-decoration: none;
      vertical-align: middle;
      align-items: center;
      background-color: transparent;

      @apply py-3 px-4 bg-transparent border-none rounded-sm;
      @apply bg-white text-gray-900;
      @apply dark:bg-black dark:text-gray-100;
    }

    &__menu-item.button {
      cursor: pointer;
      user-select: none;
      white-space: nowrap;

      &[disabled] {
        cursor: default;
        @apply bg-transparent text-gray-400;
      }

      &:not([disabled]) {
        &, &:is(:hover, :active, :focus, :focus-visible) {
          outline-style: solid;
          outline-width: 0px;

          @apply text-gray-900;
          @apply dark:text-gray-100;
        }

        &:is(:hover, :focus, :focus-visible) {
          @apply bg-blue-50;
          @apply dark:bg-blue-900/50;
        }

        &:active {
          @apply text-blue-700;
          @apply dark:text-sky-300;
        }
      }
    }

    &__menu--below-right > & > &__menu-item,
    &__menu--aside-right > & > &__menu-item {
      flex-direction: row-reverse;
      justify-content: space-between;

      & svg {
        @apply ml-2 -mr-1;
      }
    }
  }
}