<table>
  <thead>
    <tr>
      <th>Column #1</th>
      <th>Column #2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>First row</td>
      <td><%= badge_component "Tag", :blue %></td>
    </tr>
    <tr>
      <td>Empty row</td>
      <td></td>
    </tr>
  </tbody>
</table>
