.flex.flex-col.space-y-4
  .badge.badge--yellow Badge "yellow"
  .badge.badge--orange Badge "orange"
  .badge.badge--red Badge "red"
  .badge.badge--pink Badge "pink"
  .badge.badge--violet Badge "violet"
  .badge.badge--blue Badge "blue"
  .badge.badge--sky Badge "sky"
  .badge.badge--green Badge "green"
  .badge.badge--lime Badge "lime"
