.flex.flex-col.space-y-4
  = report_badge(:incomplete)
  = report_badge(:completed)
  = report_badge(:transmitted)
  = report_badge(:package_approved)
  = report_badge(:approved)
  = report_badge(:debated)
  = report_badge(:rejected)
  = report_badge(:package_rejected)
