= tag.div **block_html_attributes do
  = content

  - errors.each do |error|
    .form-block__errors= error

  = display_errors

  - if hint?
    .form-block__hint= hint

  - if @autocomplete
    .autocomplete__list-wrapper
      ul.autocomplete__list( data-autocomplete-target="results" )
