= breadcrumbs_component do |breadcrumbs|
  - breadcrumbs.with_path "Guides"
  - breadcrumbs.with_path "Authentification"

.documentation
  = card_component do
    p
      ' L'authentification s'effectue selon les spécifications du standard
      = link_to "OAuth2", "https://datatracker.ietf.org/doc/html/rfc6749"
      '  et la méthode
      = link_to "Client Credentials", "https://datatracker.ietf.org/doc/html/draft-ietf-oauth-v2-22#section-4.4"
      | .
    p
      | Avant toute chose, assurez-vous d'avoir enregistré votre application depuis FiscaHub.
      br
      | Vous aurez besoin de votre <code class="code">Client ID</code> et <code class="code">Client Secret</code> pour vous authentifier.

  .content__separator

  h2.subheader
    = icon_component("command-line")
    | Exemples

  = card_component do
    = tabs_component do |tabs|
      - tabs.with_tab "cURL" do
        pre( data-controller="highlight" data-highlight-language-value="shell" )
          | $ echo "Please enter your client ID:" && read -s CLIENT_ID && \
                echo "Please enter your client secret:" && read -s CLIENT_SECRET

            $ ACCESS_TOKEN=$( \
                curl -X POST #{ URI.join(api_url, "/oauth/token") } \
                  -H "Accept: application/json" \
                  -H "Content-Type: application/json" \
                  -d '{
                    "grant_type": "client_credentials",
                    "client_id": "'$CLIENT_ID'",
                    "client_secret": "'$CLIENT_SECRET'"
                  }' | jq -r .access_token
              )

            $ curl -X GET #{ URI.join(api_url, "/collectivites") } \
                -H "Accept: application/json" \
                -H "Authorization: Bearer $ACCESS_TOKEN"

      - tabs.with_tab "httpie" do
        pre( data-controller="highlight" data-highlight-language-value="shell" )
          | $ echo "Please enter your client ID:" && read -s CLIENT_ID && \
                echo "Please enter your client secret:" && read -s CLIENT_SECRET

            $ ACCESS_TOKEN=$( \
                http -j POST #{ URI.join(api_url, "/oauth/token") } \
                  Accept:"application/json" \
                  grant_type='client_credentials' \
                  client_id=$CLIENT_ID \
                  client_secret=$CLIENT_SECRET | jq -r .access_token
              )

            $ http -v GET #{ URI.join(api_url, "/collectivites") } \
                Accept:"application/json" \
                Authorization:"Bearer $ACCESS_TOKEN"

    pre
      div( data-controller="highlight" data-highlight-language-value="http" )
        | GET /collectivites HTTP/1.1
          Accept: application/json
          Authorization: Bearer HgAxkdHZUvlBjuuWweLKwsJ6InRfZoZ-GHyFtbrS03k

          HTTP/1.1 200 OK
          Content-Type: application/json; charset=utf-8

      div( data-controller="highlight" data-highlight-language-value="json" )
        | {
            "collectivites": [
              {
                "id": "f97179b3-53e4-4705-a6d8-08496cb702fc",
                "name": "Metropole Bordeaux",
                "siren": "690435680"
              },
              {
                "id": "7a25cfb7-cd85-4bbd-9dad-ce1e7c030dbc",
                "name": "CA Pays Basque",
                "siren": "962845392"
              }
            ]
          }
