= content_layout_component(class: "documentation") do |layout|
  - layout.with_breadcrumbs do |breadcrumbs|
    - breadcrumbs.with_path "Guides"
    - breadcrumbs.with_h1 "Transmettre des pièces jointes"

  - layout.with_section do
    = card_component do
      p
        ' La création et la publication d'une pièce jointe se fait en 3 étapes :
      ul
        li Autorisation pour le téléchargement d'un fichier.
        li Téléchargement du fichier.
        li Association du fichier au signalement.

      p Chaque étape est détaillée ci-dessous.

  - layout.with_section do
    = flash_component do
      ' Ce guide utilise les variables <code>$ACCESS_TOKEN</code> et <code>$REPORT_ID</code> suggérées respectivement dans
      = link_to "le guide sur le processus d'authentification", api_documentation_path("guides/authentification")
      '  et
      = link_to "le guide sur la transmission de signalements", api_documentation_path("guides/transmettre_des_signalements")
      ' .

  - layout.with_header icon: "code-bracket-square" do
    | Autorisation de téléchargement

  - layout.with_section do
    = card_component do
      p
        ' Le téléchargement de pièces jointes s'effectue sur un serveur dédié au stockage de fichiers.
        br
        ' Avant de pouvoir effectivement télécharger un fichier sur ce serveur, vous devez d'abord obtenir une
        ' autorisation de téléchargement sous la forme d'une URL avec une signature.
      p
        ' Pour obtenir cette URL, vous devez transmettre les informations suivantes relatives au fichier :

      table
        tbody
          tr
            th <code>blob[filename]</code>
            td Le nom du fichier
          tr
            th <code>blob[byte_size]</code>
            td La taille du fichier en octets
          tr
            th <code>blob[checksum]</code>
            td Une signature du fichier au format MD5, encodée en base64
          tr
            th <code>blob[content_type]</code>
            td Le type MIME du fichier

      p
        ' Vous pouvez extraire ces informations dans des variables avant de les passer dans une requête :

      = code_example_component(:command, copyable: true) do
        | FILEPATH=./permis.pdf && \
            FILENAME=$(basename -- $FILEPATH) && \
            BYTESIZE=$(wc -c "$FILEPATH" | awk '{print $1}') && \
            CHECKSUM=$(openssl md5 -binary $FILEPATH | base64) && \
            CONTENT_TYPE=$(file -b --mime-type $FILEPATH)

      ruby:
        example = UI::CodeRequestExampleComponent.new "POST", api_upload_url,
          json:          true,
          authorization: true,
          request: {
            body: {
              blob: {
                filename:     "'$FILENAME'",
                byte_size:    "'$BYTESIZE'",
                checksum:     "'$CHECKSUM'",
                content_type: "'$CONTENT_TYPE'"
              }
            }
          },
          response: {
            code:    200,
            headers: {},
            body: {
              id:              "255dd254-7713-405a-9097-ca4e0424a536",
              filename:        "permis_00001.pdf",
              content_type:    "application/pdf",
              byte_size:       267785,
              checksum:        "keKnRxGllrNnMpX19UouVQ==",
              created_at:      "2023-10-25T10:00:26.328Z",
              signed_id:       "eyJfcmFpbHMiOnsib[..]23895ccaef5aab022bab62a5e4ea83769",
              direct_upload:   {
                url:     "https://static.passerelle-fiscale.fr/eyJfcmFpbHM[...]eyJfcmFpbHM",
                headers: {
                  "Content-Type" => "application/pdf"
                }
              }
            }
          },
          interpolations: {
            FILENAME:     "permis.pdf",
            BYTESIZE:     26_7785,
            CHECKSUM:     "keKnRxGllrNnMpX19UouVQ==",
            CONTENT_TYPE: "application/pdf"
          }

      = render example

      p
        ' Enfin, vous pouvez extraire la signature et l'URL d'autorisation dans des variables :

      = tabs_component do |tabs|
        - tabs.with_tab("cURL + jq", sync_all: "curl") do
          = code_example_component(:command, copyable: true) do
            | read SIGNED_ID UPLOAD_URL < <(echo $( \
              #{example.curl_command(indent: 2, options: %w[fail])} \
                | jq -r '.signed_id, .direct_upload.url'
              )) && echo "SIGNED_ID: $SIGNED_ID" \
                && echo "UPLOAD_URL: $UPLOAD_URL"

        - tabs.with_tab("httpie + jq", sync_all: "httpie") do
          = code_example_component(:command, copyable: true) do
            | read SIGNED_ID UPLOAD_URL < <(echo $( \
              #{example.httpie_command(indent: 2, options: %w[check-status b])} \
                | jq -r '.signed_id, .direct_upload.url'
              )) && echo "SIGNED_ID: $SIGNED_ID" \
                && echo "UPLOAD_URL: $UPLOAD_URL"

  - layout.with_header icon: "code-bracket-square" do
    | Téléchargement du fichier

  - layout.with_section do
    = card_component do
      p
        ' Une fois l'URL de téléchargement obtenue, vous pouvez l'utilisez pour télécharger le fichier en question :

      ul
        li Utilisez une requête <code>PUT</code>
        li L'URL de téléchargement n'est utilisable qu'une seule fois
        li En cas de succés, un code 204 est retourné

      ruby:
        example = UI::CodeRequestExampleComponent.new "PUT", "$UPLOAD_URL",
          authorization: false,
          request: {
            headers: {
              "Content-Length" => "$BYTESIZE",
              "Content-Type" => "$CONTENT_TYPE",
            },
            file: "$FILEPATH"
          },
          response: {
            code:    204,
          },
          interpolations: {
            UPLOAD_URL:   "https://static.passerelle-fiscale.fr/eyJfcmFpbHM[...]eyJfcmFpbHM",
            BYTESIZE:     "267785",
            CONTENT_TYPE: "application/pdf"
          }

      = render example

  - layout.with_header icon: "code-bracket-square" do
    | Association du fichier a un signalement

  - layout.with_section do
    = card_component do
      p
        ' Une fois le fichier téléchargé, vous pouvez l'associer à un signalement :
      ul
        li Utilisez dans l'URL l'ID retourné lors de la création de ce même signalement.
        li Envoyez dans les paramètres le SIGNED_ID retourné lors de l'autorisation de téléchagement.

      ruby:
        example = UI::CodeRequestExampleComponent.new "POST", api_report_attachments_url("$REPORT_ID"),
          json:          true,
          authorization: true,
          request: {
            body: {
              documents: "'$SIGNED_ID'"
            }
          },
          response: {
            code: 204
          },
          interpolations: {
            REPORT_ID: "6cbc5022-3bc9-40ce-ab20-b5fef3d88fae",
            SIGNED_ID: "eyJfcmFpbHMiOnsib[..]23895ccaef5aab022bab62a5e4ea83769"
          }

      = render example
