<div class="flex space-x-4">
  <%= button_component icon: "plus" %>
  <%= button_component icon: "plus", primary: true %>
  <%= button_component icon: "plus", accent: true %>
  <%= button_component icon: "plus", destructive: true %>
</div>
