@layer components {
  .card {
    display: flex;
    flex-direction: column;

    @apply rounded-md ring-1;
    @apply bg-white ring-gray-300;
    @apply dark:bg-black dark:ring-gray-700;
  }

  .card__content {
    @apply p-6;
  }

  .card__header {
    @apply mb-6;
  }

  .card__body {
    /* nothing yet */
  }

  .card__separator {
    @apply my-6;
  }

  .card__actions {
    display: flex;

    @apply mt-8;

    & .button {
      @apply mr-4;
    }

    &--center {
      justify-content: center;

      & .button {
        @apply mx-2;
      }
    }
  }

  .card__title {
    @apply text-xl;
  }

  .card--empty {
    & .card__content {
      display: flex;
      flex: 1 1 auto;
      align-items: center;
      justify-content: center;
      text-align: center;

      @apply italic text-gray-500;
      @apply px-4 py-3;
    }
  }

  .card--status {
    & .card__content {
      @apply p-10;
      text-align: center;
    }
  }

  .card--status,
  .card--actions-center {
    & .card__actions {
      justify-content: center;

      & .button {
        @apply mx-2;
      }
    }
  }
}
