<%= template_modal_component(referrer: @referrer_path) do |template| %>
  <% template.with_modal do |modal| %>
    <% modal.with_header do %>
      Préparation de la transmission
    <% end %>

    <% modal.with_form(url: complete_transmissions_path, method: :post) do %>
      <% if @result.removed_reports_count > 1 %>
        <p><b><%= @result.removed_reports_count %> signalements</b> ont été retirés de votre transmission.</p>
      <% elsif @result.removed_reports_count > 0 %>
        <p><b>1 signalement</b> a été retiré de votre transmission.</p>
      <% else %>
        <p>Aucun signalement n'a été retiré de votre transmission.</p>
      <% end %>

      <% if @result.after_transmission_reports_count > 1 %>
        <p>Votre transmission a actuellement <b><%= @result.after_transmission_reports_count %> signalements</b> en attente.</p>
      <% elsif @result.after_transmission_reports_count > 0 %>
        <p>Votre transmission a actuellement <b>1 signalement</b> en attente.</p>
      <% else %>
        <p>Votre transmission n'a pas de signalement en attente.</p>
      <% end %>
    <% end %>

    <% if @result.after_transmission_reports_count > 0 %>
      <% modal.with_submit_action "Transmettre immédiatement", autofocus: true %>
      <% modal.with_close_action "Transmettre plus tard" %>
    <% else %>
      <% modal.with_close_action "Fermer" %>
    <% end %>
  <% end %>
<% end %>
