.flex.flex-col.gap-4.items-start
  = render Views::Reports::PriorityBadge::Component.new(:low)
  = render Views::Reports::PriorityBadge::Component.new(:medium)
  = render Views::Reports::PriorityBadge::Component.new(:high)
