ruby:
  example = UI::CodeRequestExample::Component.new "POST", "/path",
    json: true,
    request: {
      body: {
        report: {
          form_type:  "creation_local_habitation",
          code_insee: "64019"
        }
      }
    },
    response: {
      code: 201,
      body: {
        report: {
          id: "255dd254-7713-405a-9097-ca4e0424a536"
        }
      }
    }

= render example


.form-block.mt-12
  label( for="paste" ) Paste copied code here to verify conformity :
  textarea.font-mono( id="paste" rows=10 )
