<div class="header-bar">
  <div class="breadcrumbs">
    <div class="breadcrumbs__path">
      <a class="icon-button" aria-label="Retour à la page d'accueil" data-turbo-frame="_top" href="/">
        <%= icon_component("home", "Retour à la page d'accueil", variant: :solid) %>
      </a>
    </div>

    <% paths.each.with_index do |path, index| %>
      <div class="breadcrumbs__separator">/</div>
      <div class="breadcrumbs__path">
        <% if @heading && index == paths.size - 1 %>
          <h1><%= path %></h1>
        <% else %>
          <%= path %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="flex-auto"></div>

  <div class="header-bar__actions">
    <% actions.each do |action| %>
      <div class="header-bar__action">
        <%= action %>
      </div>
    <% end %>
  </div>
</div>
