<div class="card">
  <dl class="description-list">
    <div class="description-list__row">
      <dt>Regular</dt>
      <dd><%= copyable_component "yD1pIyDz_hgV4Vtw4IwU2elmpB9LWrqUf3gkVQxv3i4" %></dd>
    </div>
    <div class="description-list__row">
      <dt>Secret</dt>
      <dd><%= copyable_component "yD1pIyDz_hgV4Vtw4IwU2elmpB9LWrqUf3gkVQxv3i4", secret: true %></dd>
    </div>
  </dl>
</div>
