<div
  class="dropdown"
  data-controller="dropdown"
  data-transition-enter-from="dropdown--enter-from"
  data-transition-enter-to="dropdown--enter-to"
  data-transition-leave-from="dropdown--leave-from"
  data-transition-leave-to="dropdown--leave-to">
  <%= button %>

  <div
    class="dropdown__menu hidden <%= position_css_class %>"
    aria-labelledby="<%= button_id %>"
    data-dropdown-target="menu"
    role="menu">
    <% menu_items.each do |menu_item| %>
      <%= menu_item %>
    <% end %>
  </div>
</div>
