<div class="tabs" data-controller="tabs">
  <div class="tabs__nav">
    <% tabs.each_with_index do |tab, index| %>
      <%= tab.button %>
    <% end %>
  </div>

  <% tabs.each_with_index do |tab, index| %>
    <%= tab %>
  <% end %>
</div>
