@layer components {
  .http-code {
    display: inline-flex;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    align-items: center;
    white-space: nowrap;

    @apply py-2 px-4 h-10 leading-6 font-medium rounded-xl;
    @apply subpixel-antialiased;

    &.http-code--200 {
      @apply bg-green-300 text-green-900;
      @apply dark:bg-green-500 text-black;
    }

    &.http-code--300 {
      @apply bg-violet-300 text-violet-900;
      @apply dark:bg-violet-500 text-black;
    }

    &.http-code--400 {
      @apply bg-red-300 text-red-900;
      @apply dark:bg-red-500 text-black;
    }

    &.http-code--500 {
      @apply bg-pink-300 text-pink-900;
      @apply dark:bg-pink-500 text-black;
    }
  }
}
