.flex.flex-col.space-y-4.items-start
  = render Views::Reports::PriorityBadgeComponent.new(:low)
  = render Views::Reports::PriorityBadgeComponent.new(:medium)
  = render Views::Reports::PriorityBadgeComponent.new(:high)
