<div class="flex">
  <%=
    dropdown_component(position: "aside", direction: "right") do |dropdown|
      dropdown.with_button "Plus d'options", icon: "adjustments-vertical", icon_only: true

      dropdown.with_menu_item "Option 1"
      dropdown.with_menu_item "Option 2"
    end
  %>
</div>
