<div class="flex">
  <%= dropdown_component do |dropdown| %>
    <% dropdown.with_button "Plus d'options", icon: "adjustments-vertical", icon_only: true %>
    <% dropdown.with_menu_item "Option 1" do |item| %>
      <% item.with_menu_item do %>
        <div class="flex flex-col">
          <div class="mb-6">Hello World !</div>
          <%= button_component("Click me !") %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
