@layer components {
  .badge {
    display: inline-flex;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    align-items: center;
    white-space: nowrap;
    font-weight: 500;

    @apply h-8 py-2 px-3 leading-6 rounded-2xl ring-1 ring-inset;

    &--compact,
    table &,
    .description-list & {
      @apply -my-2;
    }

    &--mono {
      @apply font-mono;
    }

    & svg {
      display: inline;
      stroke-width: 2;
      @apply -ml-1 mr-2;
    }

    & {
      @apply bg-blue-50 text-blue-700 ring-blue-300;
      @apply dark:bg-blue-950 dark:text-blue-300 dark:ring-blue-700;
    }

    &--gray {
      @apply bg-gray-50 text-gray-700 ring-gray-300;
      @apply dark:bg-gray-950 dark:text-gray-300 dark:ring-gray-700;
    }

    &--zinc {
      @apply bg-zinc-50 text-zinc-700 ring-zinc-300;
      @apply dark:bg-zinc-950 dark:text-zinc-300 dark:ring-zinc-700;
    }

    &--neutral {
      @apply bg-neutral-50 text-neutral-700 ring-neutral-300;
      @apply dark:bg-neutral-950 dark:text-neutral-300 dark:ring-neutral-700;
    }

    &--stone {
      @apply bg-stone-50 text-stone-700 ring-stone-300;
      @apply dark:bg-stone-950 dark:text-stone-300 dark:ring-stone-700;
    }

    &--yellow {
      @apply bg-yellow-50 text-yellow-700 ring-yellow-300;
      @apply dark:bg-yellow-950 dark:text-yellow-300 dark:ring-yellow-700;
    }

    &--warning,
    &--amber {
      @apply bg-amber-50 text-amber-700 ring-amber-300;
      @apply dark:bg-amber-950 dark:text-amber-300 dark:ring-amber-700;
    }

    &--orange {
      @apply bg-orange-50 text-orange-700 ring-orange-300;
      @apply dark:bg-orange-950 dark:text-orange-300 dark:ring-orange-700;
    }

    &--danger,
    &--red {
      @apply bg-red-50 text-red-700 ring-red-300;
      @apply dark:bg-red-950 dark:text-red-300 dark:ring-red-700;
    }

    &--rose {
      @apply bg-rose-50 text-rose-700 ring-rose-300;
      @apply dark:bg-rose-950 dark:text-rose-300 dark:ring-rose-700;
    }

    &--pink {
      @apply bg-pink-50 text-pink-700 ring-pink-300;
      @apply dark:bg-pink-950 dark:text-pink-300 dark:ring-pink-700;
    }

    &--fuchsia {
      @apply bg-fuchsia-50 text-fuchsia-700 ring-fuchsia-300;
      @apply dark:bg-fuchsia-950 dark:text-fuchsia-300 dark:ring-fuchsia-700;
    }

    &--purple {
      @apply bg-purple-50 text-purple-700 ring-purple-300;
      @apply dark:bg-purple-950 dark:text-purple-300 dark:ring-purple-700;
    }

    &--done,
    &--violet {
      @apply bg-violet-50 text-violet-700 ring-violet-300;
      @apply dark:bg-violet-950 dark:text-violet-300 dark:ring-violet-700;
    }

    &--indigo {
      @apply bg-indigo-50 text-indigo-700 ring-indigo-300;
      @apply dark:bg-indigo-950 dark:text-indigo-300 dark:ring-indigo-700;
    }

    &--blue {
      @apply bg-blue-50 text-blue-700 ring-blue-300;
      @apply dark:bg-blue-950 dark:text-blue-300 dark:ring-blue-700;
    }

    &--sky {
      @apply bg-sky-50 text-sky-700 ring-sky-300;
      @apply dark:bg-sky-950 dark:text-sky-300 dark:ring-sky-700;
    }

    &--cyan {
      @apply bg-cyan-50 text-cyan-700 ring-cyan-300;
      @apply dark:bg-cyan-950 dark:text-cyan-300 dark:ring-cyan-700;
    }

    &--teal {
      @apply bg-teal-50 text-teal-700 ring-teal-300;
      @apply dark:bg-teal-950 dark:text-teal-300 dark:ring-teal-700;
    }

    &--emerald {
      @apply bg-emerald-50 text-emerald-700 ring-emerald-300;
      @apply dark:bg-emerald-950 dark:text-emerald-300 dark:ring-emerald-700;
    }

    &--success,
    &--green {
      @apply bg-green-50 text-green-700 ring-green-300;
      @apply dark:bg-green-950 dark:text-green-300 dark:ring-green-700;
    }

    &--lime {
      @apply bg-lime-50 text-lime-700 ring-lime-300;
      @apply dark:bg-lime-950 dark:text-lime-300 dark:ring-lime-700;
    }
  }
}