= timeline_component do |timeline|
  - timeline.with_step("Etape 1", icon: "check", status: :done, date: Date.new(2024, 1, 1)) do
    ' Lorem ipsum dolor sit amet, consectetur adipiscing elit.

  - timeline.with_step("Etape 2", icon: "check", status: :done, date: Date.new(2024, 1, 5)) do
    ' Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

  - timeline.with_step("Etape 3", icon: "envelope", status: :current) do
    ' Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
    ' totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.

  - timeline.with_step("Etape 4", icon: "envelope-open") do
    ' Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
    ' dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
    ' consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
    ' quaerat voluptatem.
