= datalist_component(highlight: params[:q]) do |datalist|
  - @territories.each do |territory|
    - datalist.with_option(value: { type: territory.class.name, id: territory.id }) do
      = territory.qualified_name
