- @territories.each do |territory|
  - value = { type: territory.class.name, id: territory.id }.to_json

  li.autocomplete__list-item( role="option" data-autocomplete-value=value )
    = territory.name
