@layer components {
  .autocomplete__list-wrapper {
    position: relative;
  }

  .autocomplete__list {
    position: absolute;
    left: 0;
    right: 0;
    overflow-y: scroll;

    @apply top-1 max-h-60 shadow-lg rounded-sm border;
    @apply bg-white border-gray-200;
    @apply dark:bg-black dark:border-gray-800;
  }

  .autocomplete__list-item {
    @apply px-4 py-3 border-b;
    @apply border-gray-200;
    @apply dark:border-gray-800;

    &:last-child {
      @apply border-none;
    }

    &:hover,
    &--active {
      @apply bg-blue-50;
    }
  }
}