@layer components {
  .badges {
    display: flex;
    flew-wrap: wrap;

    & .badge {
      @apply mr-4;
    }
  }

  .badge {
    display: inline-flex;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    align-items: center;
    white-space: nowrap;

    @apply py-2 px-4 h-10 leading-6 font-medium rounded-xl;
    @apply subpixel-antialiased;

    table & {
      @apply py-1 px-3 -my-1 h-auto;
    }

    & svg {
      display: inline;
      stroke-width: 2;
      @apply -ml-1 mr-2;
    }

    & {
      @apply bg-slate-300 text-slate-900;
      @apply dark:bg-slate-500 text-black;
    }

    &--yellow {
      @apply bg-yellow-300 text-yellow-900;
      @apply dark:bg-yellow-500 text-black;
    }

    &--orange {
      @apply bg-orange-300 text-orange-900;
      @apply dark:bg-orange-500 text-black;
    }

    &--red {
      @apply bg-red-300 text-red-900;
      @apply dark:bg-red-500 text-black;
    }

    &--pink {
      @apply bg-pink-300 text-pink-900;
      @apply dark:bg-pink-500 text-black;
    }

    &--violet {
      @apply bg-violet-300 text-violet-900;
      @apply dark:bg-violet-500 text-black;
    }

    &--blue {
      @apply bg-blue-300 text-blue-900;
      @apply dark:bg-blue-500 text-black;
    }

    &--sky {
      @apply bg-sky-300 text-sky-900;
      @apply dark:bg-sky-500 text-black;
    }

    &--green {
      @apply bg-green-300 text-green-900;
      @apply dark:bg-green-500 text-black;
    }

    &--lime {
      @apply bg-lime-300 text-lime-900;
      @apply dark:bg-lime-500 text-black;
    }
  }
}