@layer components {
  .breadcrumbs {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    box-sizing: content-box;
    min-width: 0px;

    @apply text-2xl h-10;
  }

  .breadcrumbs__separator {
    flex: 0 0 theme("spacing.6");
    text-align: center;

    @apply mx-1;
    @apply text-gray-600;
    @apply dark:text-gray-400;

    & svg {
      @apply h-6 w-6;
    }
  }

  .breadcrumbs__path {
    @apply text-gray-600;
    @apply dark:text-gray-400;

    &:last-child {
      color: unset;
      @apply mr-4;
    }

    & a:not([disabled]):not(:hover, :active, :focus, :focus-visible),
    & .icon-button:not([disabled]):not(:hover, :active, :focus, :focus-visible) {
      @apply text-gray-600;
      @apply dark:text-gray-400;
    }

    & .icon-button {
      & svg {
        @apply h-6 w-6;
      }
    }
  }
}
