@layer components {
  .card {
    @apply rounded-md ring-1;
    @apply bg-white ring-gray-300;
    @apply dark:bg-black dark:ring-gray-700;
  }

  .card__content {
    @apply p-6;

    &--empty {
      @apply italic text-gray-500;
      @apply px-4 py-3;
    }

    &--status {
      @apply p-10;
      text-align: center;
    }
  }

  .card__header {
    @apply mb-6;
  }

  .card__body {
    /* nothing yet */
  }

  .card__actions {
    display: flex;

    @apply mt-8;

    & .button {
      @apply mr-4;
    }

    &--center {
      justify-content: center;

      & .button {
        @apply mx-2;
      }
    }
  }

  .card__title {
    @apply text-xl;
  }
}
