@layer components {
  .checkboxes-collection {
    overflow: auto;
    max-height: 400px;

    @apply py-2 px-3 rounded-md border;

    @apply bg-white border-gray-300;
    @apply dark:bg-black dark:border-gray-700;
  }

  .checkboxes-collection__checkbox {
    display: block;
  }

  .checkboxes-collection__checkall {
    @apply mb-2;
  }
}
