@layer components {
  .content {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 100%;

    @apply p-6;
  }

  .breadcrumbs {
    /* This is a temporary patch until breadcrumbs is fully included in content layout */
    @apply mb-6;
  }

  .content__grid {
    @apply grid gap-12;

    &--cols-2 {
      @apply xl:grid-cols-2;
    }
  }

  .content__separator {
    @apply my-12;
  }

  .content__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @apply mb-4
  }

  .content__header-title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: content-box;
    min-width: 0px;
    min-height: theme("height.10");

    @apply px-2;
    @apply text-xl leading-8;

    & svg {
      position: relative;
      display: block;
      @apply m-0 mr-4;
    }
  }

  .content__header-actions {
    display: flex;
    flex: none;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100%;

    @apply -m-1;
  }

  .content__header-action {
    @apply m-1;
  }
}
