@layer components {
  .datatable-header {
    display: flex;
    align-items: center;

    @apply mb-6;
  }

  .datatable-header__search {
    @apply w-96;

    & input {
      @apply bg-white;
      @apply dark:bg-black;
    }
  }

  .datatable-header__counts,
  .datatable-header__pagination {
    flex: none;
    display: flex;
    align-items: center;
  }
}