@layer components {
  .datatable {
    max-width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;

    @apply rounded-md ring-1;
    @apply bg-white ring-gray-300;
    @apply dark:bg-black dark:ring-gray-700;
  }

  .datatable__row {
    & .icon-button,
    & .checkbox {
      @apply h-10 w-10 p-2 -my-2;
    }

    & .icon-button svg {
      @apply h-6 w-6;
    }

    & .checkbox input {
      @apply m-0.5;
    }

    .datatable tbody & th:empty:before,
    .datatable tbody & td:empty:before {
      content: "-";
      @apply text-gray-500;
    }

    &--selected {
      @apply bg-blue-50;
      @apply dark:bg-blue-900/50;
    }
  }

  .datatable__order-button {
    @apply ml-2 opacity-0 transition;

    th:hover > &,
    td:hover > &,
    &:focus,
    &:hover,
    &--current {
      @apply opacity-100;
    }

    &--current {
      transform: rotate(180deg);
    }

    &--current:hover,
    &--current:focus {
      transform: rotate(0deg);
    }
  }

  .datatable__row-actions {
    @apply w-px px-6;

    &:first-child {
      @apply pl-6;
    }

    & + & {
      @apply pl-0;
    }

    & [type="checkbox"] {
      display: block;
    }

    & .icon-button {
      display: block;

      &:first-child {
        @apply -ml-2;
      }

      &:last-child {
        @apply -mr-2;
      }
    }
  }

  .datatable__selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 100%;
    min-height: theme("height.10");

    @apply rounded-md;
    @apply p-2 pl-3 -my-2;
    @apply bg-blue-100;
    @apply dark:bg-blue-900;

    & .content__header-actions {
      padding: 0;
    }
  }
}