@layer components {
  .datatable {
    /* Noop */
  }

  .datatable__row {
    & .icon-button,
    & .checkbox {
      @apply h-10 w-10 p-2 -my-2;
    }

    & .icon-button svg {
      @apply h-6 w-6;
    }

    & .checkbox input {
      @apply m-0.5;
    }

    .datatable tbody & th:empty:before,
    .datatable tbody & td:empty:before {
      content: "-";
      @apply text-gray-500;
    }

    &--selected {
      @apply bg-blue-50;
      @apply dark:bg-blue-900/50;
    }
  }

  .datatable__order-button {
    @apply ml-2 opacity-0 transition;

    th:hover > &,
    td:hover > &,
    &:focus,
    &:hover,
    &--current {
      @apply opacity-100;
    }

    &--current {
      transform: rotate(180deg);
    }

    &--current:hover,
    &--current:focus {
      transform: rotate(0deg);
    }
  }

  .datatable__row-actions {
    @apply w-px px-6;

    &:first-child {
      @apply pl-6;
    }

    & + & {
      @apply pl-0;
    }

    & [type="checkbox"] {
      display: block;
    }

    & .icon-button {
      display: block;

      &:first-child {
        @apply -ml-2;
      }

      &:last-child {
        @apply -mr-2;
      }
    }
  }

  .datatable__empty-caption {
    caption-side: bottom;

    @apply px-4 py-3 italic border-b border-r border-l rounded-b-md;
    @apply bg-white border-gray-300 text-gray-500;
    @apply dark:bg-black dark:border-gray-700;
  }
}