@layer components {
  .description-list__row {
    @apply grid gap-2 px-4 py-3 border-b;
    @apply border-gray-200;
    @apply dark:border-gray-800;

    @apply md:grid-cols-6;
    @apply xl:grid-cols-7;
    @apply 2xl:grid-cols-9;

    &:last-child {
      @apply border-none;
    }

    & dt {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      @apply font-semibold;
      @apply text-gray-600;
      @apply dark:text-gray-300;

      @apply md:col-span-2;

      &:after {
        content: " :"
      }
    }

    & dd {
      @apply md:col-span-4;
      @apply xl:col-span-5;
      @apply 2xl:col-span-7;
    }

    & dd .button {
      @apply -my-2;
    }

    &:hover {
      @apply bg-gray-100;
      @apply dark:bg-gray-900;
    }

    &--with-action dd,
    &--with-reference dd {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    &--with-reference dd {
      flex-direction: column;
      @apply md:flex-row;
    }

    & dd:empty:before,
    &--with-action dd *:first-child:empty:before,
    &--with-reference dd *:first-child:empty:before {
      content: "-";
      @apply text-gray-500;
      @apply dark:text-gray-400;
    }

    &--with-reference dd *:last-child {
      @apply text-gray-600;
    }
  }

  .content__grid--cols-2 .description-list__row {
    @apply xl:grid-cols-2;
    @apply 2xl:grid-cols-9;

    & dt {
      @apply xl:col-span-1;
      @apply 2xl:col-span-4;
    }

    & dd {
      @apply xl:col-span-1;
      @apply 2xl:col-span-5;
    }
  }
}