@layer components {
  .dialog {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;

    @apply transition duration-200;
  }

  .dialog__overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    @apply bg-black/50;
  }

  .dialog__container {
    position: absolute;
    z-index: 2;
    top: theme('spacing.12');
    left: 50%;
    transform: translate(-50%, 0);
    min-width: 500px;

    @apply rounded shadow-lg p-6;
    @apply transition duration-200;
    @apply bg-white;
    @apply dark:bg-black dark:border dark:border-gray-700 dark:shadow-gray-500/50;

    @media (max-width: 500px) {
      min-width: 100vw;
    }
  }

  .dialog__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @apply pb-8;
  }

  .dialog__header-toolbar {
    @apply -m-1;
  }

  .dialog__close-button svg {
    @apply text-gray-500;
  }

  .dialog__actions {
    @apply pt-8;

    & .button {
      @apply mr-4;
    }
  }

  .dialog__title {
    @apply text-xl;
  }

  .dialog--enter-from,
  .dialog--leave-to {
    @apply opacity-0;

    & .dialog__container {
      transform: translate(-50%, 1rem);
    }
  }

  .dialog--enter-to,
  .dialog--leave-from {
    @apply opacity-100;

    & .dialog__container {
      transform: translate(-50%, 0);
    }
  }
}