@layer components {
  .direct-upload__list {
    display: block;

    & + input,
    input + & {
      @apply mt-4;
    }
  }

  .direct-upload__list-item {
    position: relative;
    width: 100%;
    overflow: hidden;

    @apply pb-2 mb-2;

    &:before {
      content:  "";
      display:  block;
      position: absolute;
      z-index:  1;
      left:     0;
      right:    0;
      bottom:   0;

      @apply h-1 rounded-md;
      @apply bg-gray-100;
      @apply dark:bg-gray-800;
    }
  }

  .direct-upload__filename {
    @apply h-5 leading-5 text-sm;
  }

  .direct-upload__progress {
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0;
    width: 0;

    @apply h-1 rounded-md;
    @apply bg-blue-400;
    @apply dark:bg-blue-600;

    transition: width 120ms ease-out, background-color 60ms 60ms ease-in;
    transform: translate3d(0, 0, 0);

    &--complete {
      @apply bg-green-400;
      @apply dark:bg-green-600;
    }

    &--failed {
      @apply bg-red-400;
      @apply dark:bg-red-600;
    }
  }
}
