@layer components {
  .form-block {
    display: block;

    @apply mb-6;

    &--no-margin {
      @apply mb-0;
    }

    & [type="text"],
    & [type="email"],
    & [type="url"],
    & [type="password"],
    & [type="number"],
    & [type="date"],
    & [type="datetime-local"],
    & [type="month"],
    & [type="search"],
    & [type="tel"],
    & [type="time"],
    & [type="week"],
    & [multiple],
    & textarea,
    & select {
      display: block;
      width: 100%;
      max-width: 100%;
    }

    &--invalid [type="text"],
    &--invalid [type="email"],
    &--invalid [type="url"],
    &--invalid [type="password"],
    &--invalid [type="number"],
    &--invalid [type="date"],
    &--invalid [type="datetime-local"],
    &--invalid [type="month"],
    &--invalid [type="search"],
    &--invalid [type="tel"],
    &--invalid [type="time"],
    &--invalid [type="week"],
    &--invalid [multiple],
    &--invalid textarea,
    &--invalid select {
      @apply border-red-500;

      &:is(:hover, :active, :focus, :focus-visible) {
        @apply border-red-500;
        @apply dark:border-red-500;
      }

      &:is(:focus, :focus-visible) {
        @apply outline-red-500;
        @apply dark:outline-red-400;
      }
    }

    & [type="checkbox"],
    & [type='radio'] {
      display: inline-block;

      @apply mr-2;
    }

    & [type="checkbox"] + label,
    & [type='radio'] + label {
      display: inline-block;
    }
  }

  .form-block label {
    display: block;
    @apply mb-1;
  }

  .form-block__label {
    display: block;
    @apply mb-1;

    label {
      @apply mb-0;
    }

    &--hiden {
      display: none;
    }
  }

  .form-block__input {
    display: flex;
    position: relative;
  }

  .form-block__input-prefix {
    display: inline-flex;
    align-items: center;

    @apply py-2 px-3 h-10 rounded-l-md border border-r-0;
    @apply bg-gray-50 border-gray-300 text-gray-500;
    @apply dark:bg-gray-900/50 dark:border-gray-700;

    & + input {
      @apply rounded-l-none;
    }
  }

  .form-block__input-icon {
    position: absolute;
    top:  1px;
    left: 1px;
    user-select: none;

    @apply py-2 px-3 h-10;
    @apply text-gray-500;

    & + input {
      @apply pl-12;
    }
  }

  .form-block__input-text {
    @apply py-2 px-3 h-10 rounded-l-md border;

    border-right: none;

    @apply bg-gray-200 border-gray-300 text-gray-900;
    @apply dark:bg-gray-800 dark:border-gray-700 dark:text-gray-100;

    & + input {
      @apply rounded-l-none;
    }
  }

  .form-block__hint {
    font-style: italic;
    @apply mt-1;
    @apply text-gray-700;

    .form-block [type="checkbox"] ~ &,
    .form-block [type='radio'] ~ & {
      @apply pl-7;
    }
  }

  .form-block__errors {
    @apply mt-1;
    @apply text-red-700;
  }
}
