@layer components {
  .header-bar {
    display: flex;
    flex-wrap: wrap;
    min-height: theme("height.10");

    @apply mb-6 rounded-md;

    &--selection {
      @apply p-2 pl-3;
      @apply bg-blue-100;
      @apply dark:bg-blue-900;
    }
  }

  .header-bar__text {
    @apply leading-10 my-1 mx-2;
  }

  .header-bar__actions {
    display: flex;
    flex: none;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100%;

    @apply -m-1;
  }

  .header-bar__action {
    @apply m-1;
  }
}
