@layer components {
  .password-strength-test {
    @apply mt-2;
  }

  .password-strength-test__bar {
    & {
      @apply mt-1 mb-4;
      @apply w-full max-w-xs h-1.5 rounded-full;
      @apply bg-gray-200 dark:bg-gray-700;
    }

    &::after {
      content: "";
      display: block;
      @apply h-1.5 rounded-full;
    }

    &--very-weak::after {
      @apply w-1/5 bg-red-500 dark:bg-red-600;
    }

    &--weak::after {
      @apply w-2/5 bg-orange-500 dark:bg-red-600;
    }

    &--medium::after {
      @apply w-3/5 bg-yellow-500 dark:bg-yellow-600;
    }

    &--good::after {
      @apply w-4/5 bg-lime-500 dark:bg-lime-600;
    }

    &--very-good::after {
      @apply w-full bg-green-500 dark:bg-green-600;
    }
  }

  .password-strength-test__hint {
    font-style: italic;
    @apply mt-4 pl-4 border-l-2;
    @apply text-gray-700 border-gray-200;
    @apply dark:text-gray-400 dark:border-gray-700;
  }
}
