@layer components {
  .password-field {
    position: relative;

    & turbo-frame:not(:empty) {
      display: block;
      @apply pt-4;
    }

    &--checked + .form-block__errors {
      @apply mt-4;
    }
  }

  .password-field__visibility-button {
    position: absolute;
    top: 0;
    right: 0;
    outline-style: none;
  }

  .password-field__strength-test-bar {
    & {
      @apply mt-1 mb-4;
      @apply w-full max-w-xs h-1.5 rounded-full;
      @apply bg-gray-200 dark:bg-gray-700;
    }

    &::after {
      content: "";
      display: block;
      @apply h-1.5 rounded-full;
    }

    &--very-weak::after {
      @apply w-1/5 bg-red-500 dark:bg-red-600;
    }

    &--weak::after {
      @apply w-2/5 bg-orange-500 dark:bg-red-600;
    }

    &--medium::after {
      @apply w-3/5 bg-yellow-500 dark:bg-yellow-600;
    }

    &--good::after {
      @apply w-4/5 bg-lime-500 dark:bg-lime-600;
    }

    &--very-good::after {
      @apply w-full bg-green-500 dark:bg-green-600;
    }
  }
}
