@layer components {
  .low-priority-icon,
  .medium-priority-icon,
  .high-priority-icon {
    & path {
      stroke: none;
      fill:   currentColor;
    }
  }

  .low-priority-icon path:nth-of-type(2),
  .low-priority-icon path:nth-of-type(3),
  .medium-priority-icon path:nth-of-type(3) {
    opacity: .2;
    @apply dark:opacity-40;
  }

  .low-priority-button,
  .medium-priority-button,
  .high-priority-button {
    @apply font-medium;

    & svg {
      @apply ml-2 -mr-0;
    }
  }
}