@layer components {
  .public {
    display: flex;
    flex-direction: column;
    height: min-content;
    min-height: 100vh;
    overflow: auto;

    & .brand {
      @apply pt-0 p-10 text-5xl justify-center;
    }

    & .card {
      @apply mb-8;
    }

    & .card__content {
      @apply p-8;
    }

    & .card__separator {
      @apply my-8;
    }
  }

  .public__wrapper {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    @apply p-10;

    @media (min-width: 768px) {
      width: 40rem;
    }

    &--full-page {
      justify-content: start;

      @media (min-width: 768px) {
        width: 50vw;
      }
    }
  }

  .public__footer {
    text-align: center;

    @apply p-4 m-0;
  }
}
