@layer components {
  .subheader-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .subheader-bar__parts {
    display: flex;
    flex: none;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 100%;

    @apply -m-1;
  }

  .subheader-bar__part {
    @apply m-1;
  }
}
