@layer components {
  .subheader {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: content-box;
    min-width: 0px;
    min-height: theme("height.10");

    @apply mb-4 px-2;
    @apply text-xl leading-8;

    & svg {
      position: relative;
      display: block;
      @apply m-0 mr-4;
    }
  }
}
