<%= card_component do %>
  This content is rendered after being redirected to:
  <br>
  /rails/view_components/samples/link/default
<% end %>

<div class="content__separator">
</div>

<div>
  <%= button_component("Back", icon: "arrow-uturn-left") %>
</div>
