@layer components {
  .breadcrumbs {
    display: flex;
    flex-wrap: wrap;

    @apply min-h-10;

    &__path {
      display: flex;
      flex: 1 0 auto;
      flex-wrap: wrap;
      align-items: center;
      box-sizing: content-box;
      min-width: 0px;
    }

    &__separator,
    &__path-item {
      @apply text-2xl;
      @apply text-gray-600;
      @apply dark:text-gray-400;
    }

    &__separator {
      flex: 0 0 calc(var(--spacing) * 6);
      text-align: center;

      @apply mx-1;
    }

    &__path-item {
      &:last-child {
        color: unset;
        @apply mr-4;
      }

      & a:not([disabled]):not(:hover, :active, :focus, :focus-visible),
      & .icon-button:not([disabled]):not(:hover, :active, :focus, :focus-visible) {
        @apply text-gray-600;
        @apply dark:text-gray-400;
      }
    }

    &__actions {
      display: flex;
      flex: none;
      flex-wrap: wrap;
      align-items: center;
      max-width: 100%;

      @apply -m-1;
    }

    &__action {
      @apply m-1;
    }
  }
}
