= datalist_component(highlight: params[:q]) do |datalist|
  - @organizations.each do |organization|
    - datalist.with_option(value: { type: organization.class.name, id: organization.id }) do
      = organization.name
