input(
  type="checkbox"
  value=value
  checked=checked?
  disabled=disabled?
  aria-label=(label || "Sélectionner cette ligne")
  aria-describedby=aria_describedby
  data-selection-target="checkbox"
  data-selection-row-target="checkbox"
)

- if label
  span.tooltip=label
