<div class="flex space-x-4">
  <%= button_component icon: "plus", disabled: true %>
  <%= button_component icon: "plus", disabled: true, primary: true %>
  <%= button_component icon: "plus", disabled: true, accent: true %>
  <%= button_component icon: "plus", disabled: true, destructive: true %>
</div>
