= template_frame_component(src: @referrer_path) do |frame|
  - frame.with_modal do
    = render Views::Collectivities::FormComponent.new(@collectivity, scope: :admin, redirection_path: @referrer_path)
