@layer components {
  .notification {
    position: relative;
    display: flex;
    max-width: 500px;
    flex-direction: column;
    justify-content: center;
    pointer-events: auto;

    @apply p-6 pl-20 min-h-8;
    @apply transition transform duration-500;

    @apply border-l-4 rounded-r-md ring-1 shadow-lg;
    @apply bg-white ring-gray-300 border-blue-500;
    @apply dark:bg-black dark:ring-gray-700;

    &__icon {
      position: absolute;
      @apply top-6 left-6;
      @apply text-blue-500;

      & svg {
        @apply w-8 h-8;
      }
    }

    &__closing {
      position: absolute;
      @apply top-4 right-4;

      & svg {
        @apply text-gray-500;
      }
    }

    &__body {
      @apply pr-24;
    }

    &__header {
      @apply pr-24;
      @apply text-lg leading-8 font-semibold -mt-1;
    }

    &__header + &__body {
      @apply pt-2;
    }

    &__actions {
      flex-grow: 0;
      width: 100%;

      @apply pt-6 gap-4;
    }

    &--warning {
      @apply border-amber-500;
    }

    &--danger  {
      @apply border-red-500;
    }

    &--success {
      @apply border-green-500;
    }

    &--done {
      @apply border-violet-500;
    }

    &--warning &__icon {
      @apply text-amber-500;
    }

    &--danger &__icon {
      @apply text-red-500;
    }

    &--success &__icon {
      @apply text-green-500;
    }

    &--done &__icon {
      @apply text-violet-500;
    }

    &--enter-from,
    &--leave-to {
      @apply opacity-0 translate-x-6
    }

    &--enter-to,
    &--leave-from {
      @apply opacity-100 translate-x-0;
    }
  }
}
