<div class="documentation">
  <div class="card">
      <div class="card__content">
        <div class="documentation-examples">
          <%= render UI::CodeRequestComponent.new("GET", "chemin/controller", json: true, authorization: true) %>
        </div>
      </div>
  </div>
</div>