.documentation
  .card
    .card__content
      .documentation-examples
        ruby:
            request = {
            headers: {"Content-Type" => "application/json"},
            body: {
              "report": {
                "form_type": "creation_local_habitation",
                "anomalies": ["omission_batie"],
                "priority": "low",
                "code_insee": "64019",
                "date_constat": "2023-01-02",
                "situation_proprietaire": "Doe",
                "situation_numero_ordre_proprietaire": "A12345",
                "situation_parcelle": "AA 0000",
                "situation_numero_voie": "1",
                "situation_libelle_voie": "rue de la Liberté",
                "situation_code_rivoli": "0000",
                "proposition_nature": "AP",
                "proposition_categorie": "1",
                "proposition_surface_reelle": 70.0,
                "proposition_date_achevement": "2023-01-01"
              }
            }
          }
          response = {
            code: 201,
            headers: {"Content-Type" => "application/json"},
            body: { "id": "255dd254-7713-405a-9097-ca4e0424a536" }
          }
        = render UI::CodeRequestComponent.new("POST", "chemin/controller", json: true, authorization: true, request: request, response: response)
