<div class="documentation">
  <div class="card">
      <div class="card__content">
        <div class="documentation-examples">
          <%
            request = {
              body: {
                blob: {
                  byte_size: 267785,
                  checksum: "keKnRxGllrNnMpX19UouVQ==",
                  content_type: "application/pdf",
                  filename: "Facture_elec.pdf"
                }
              }
            }
          %>
          <%
            response = {
              code:    200,
              headers: {},
              body: {
                "id": "255dd254-7713-405a-9097-ca4e0424a536",
                "key": "qsay79kfgukbuspqwfjvbmh8algd",
                "filename": "Facture_elec.pdf",
                "content_type": "application/pdf",
                "metadata": {},
                "service_name": "local",
                "byte_size": 267785,
                "checksum": "keKnRxGllrNnMpX19UouVQ==",
                "created_at": "2023-10-25T10:00:26.328Z",
                "signed_id": "eyJfcmFpbHM[...]eyJfcmFpbHM",
                "attachable_sgid": "eyJfcmFpbHM[...]eyJfcmFpbHM",
                "direct_upload": {
                  "url": "http://static.fiscahub.fr/eyJfcmFpbHM[...]eyJfcmFpbHM",
                  "headers": {
                    "Content-Type": "application/pdf"
                  }
                }
              }
            }
          %>
          <%= render UI::CodeRequestComponent.new("POST", "chemin/controller", json: true, authorization: true, request:, response:) %>
        </div>
      </div>
  </div>
</div>