<div class="documentation">
  <div class="card">
      <div class="card__content">
        <div class="documentation-examples">
          <% request = { headers: {"CECI" => "est un header de requête"} } %>
          <% response = { headers: {"CECI" => "est un header de reponse"} } %>
          <%= render UI::CodeRequestComponent.new("GET", "chemin/controller", json: true, authorization: true, request:, response:) %>
        </div>
      </div>
  </div>
</div>