<div class="flex space-x-4">
  <%= icon_component "chevron-left-small", set: :assets %>
  <%= icon_component "chevron-right-small", set: :assets %>
  <%= icon_component "priority", set: :assets %>
</div>
