.dashboard-numbers
  .dashboard-number
    | 1 234
    span.dashboard-number__unit signalements

  .dashboard-number
    | 400
    span.dashboard-number__unit approuvés

  .dashboard-number
    | 30
    span.dashboard-number__unit rejetés
