<div class="notifications">
  <%=
    notification_component(
      { title: title, description: description },
      { label: "En savoir plus", url: "/rails/view_components/samples/link/default", method: :get }
    )
  %>
</div>
