- publisher    = FactoryBot.build_stubbed(:publisher, name: "Fiscalab & co")
- collectivity = FactoryBot.build_stubbed(:collectivity, publisher:)

= autocomplete_component :collectivity, :publisher, url: admin_publishers_path, object: collectivity
