= template_frame_component(src: @background_url) do |frame|
  - frame.with_modal do
    = render Views::Reports::Edit::Component.new(@report, params.require(:form), redirection_path: @background_url)
