@layer components {
  .description-list {
    &__row {
      @apply grid gap-2 px-4 py-3 border-b;
      @apply border-gray-200;
      @apply dark:border-gray-800;

      @apply md:grid-cols-6;
      @apply xl:grid-cols-7;
      @apply 2xl:grid-cols-9;

      &:last-child {
        @apply border-none;
      }

      &:hover {
        @apply bg-gray-100;
        @apply dark:bg-gray-900;
      }
    }

    & dt {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      @apply font-semibold tracking-wide;
      @apply text-gray-600;
      @apply dark:text-gray-300;

      @apply md:col-span-2;

      &:not([class*="after:content"]):after {
        content: " :"
      }
    }

    & dd {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: space-between;

      @apply md:flex-row;
      @apply md:col-span-4;
      @apply xl:col-span-5;
      @apply 2xl:col-span-7;
    }

    &__details:empty:before {
      content: "-";
      @apply text-gray-500;
      @apply dark:text-gray-400;
    }

    &__reference {
      @apply text-gray-600;
    }

    &__actions {
      display: flex;
      align-items: center;

      @apply -my-1 space-x-2;

      & .button {
        @apply px-3 h-8;
      }
    }
  }

  .content__grid--cols-2 .description-list__row {
    @apply xl:grid-cols-2;
    @apply 2xl:grid-cols-9;

    & dt {
      @apply xl:col-span-1;
      @apply 2xl:col-span-4;
    }

    & dd {
      @apply xl:col-span-1;
      @apply 2xl:col-span-5;
    }
  }
}